body {
  font-family: "Berkelium", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

span {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0.5px;
}

@font-face {
  font-family: "Berkelium";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/berkelium/berkelium.ttf");
}
